body {
    color: #282425;	/*barva pisma*/
    background-color: rgb(214, 222, 227);
    font-family: arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    scroll-behavior: smooth;
}

section {
    padding: 20px 4% 30px 4%;
    overflow: auto;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}
  
a {
    color:#a195c8;
}
  
h1 {                     
      font-size: 2.5rem;	
      text-align: center;
      color: rgb(48, 100, 134);


}

h2  {
    font-size: 2rem;	
    color: rgb(48, 100, 134);
    margin-top: 2em;
}

h3  {
    margin: 20px 0px 10px 0px;
    border-bottom: 2px solid aliceblue;
}

h4  {
    margin: 20px 0px 0px 0px;
}

.portret {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid aliceblue;
    border-radius: 50%;

}
.about {
    padding: 50px 10%;
} 

.kontakt {
    font-size: 15px;
    padding: 50px 0px 50px 10%  ;

}

.row {
    display: flex;
    flex-flow: row nowrap;  /*zmeni se pro mensi display na wrap*/
    align-items: stretch;

  }
  
.column-left {
    flex: 30%;
    background-color:  rgb(48, 100, 134);
    min-height: 100vh;
    color: aliceblue;

  }

.column-right {
    flex: 70%;

  }