body {
    color: #282425;	/*barva pisma*/
    background-color: aliceblue;
    font-family: arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    scroll-behavior: smooth;
}

header  {
    background-image:  url(foto/header.jpg);
    padding: 3% 5% ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hlavicka {   /*portret a jmeno*/
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
   
  }

section {
    overflow: auto;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}
  
a {
    color: #08505b;
}

i {
   margin-right: 5px;
}
.fa-brands {    /*jen LinkedIn a FB*/
    font-size: 20px;
    margin-right: 10px;

}

  
h1 {               /*Jmeno*/      
      font-size: 2.5rem;	
      text-align: center;
      color: aliceblue;
      text-shadow: 0 10px 30px rgba(0, 0, 0, 1);

}

h2  {              /*pravy sloupec - Dovednosti, Prace*/
    font-size: 2rem;	
    color: #2090a2;
    margin-top: 1.5em;
}

h3  {               /*levy sloupec - Kontakt, Vzdelani*/
    margin: 20px 0px 10px 0px;
    border-bottom: 2px solid aliceblue;
}

h4  {               /*pracovni pozice*/
    font-size: 1.5rem;
    margin: 10px 0px 10px 0px;
}

.slogan {
    font-family: caveat;
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
    margin: 0;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 1);
}
@font-face {
    font-family: caveat;
    src: url(Caveat-Regular.ttf);
 }

.portret2 {
    width: 150px;
    height: auto;
    border: 5px solid aliceblue;
    border-radius: 50%;
}

.kontakt {
    font-size: 15px;
    padding: 20px 0px 20px 10%  ;

}

.about {
    padding: 20px 10%;
} 

.row {
    display: flex;
    flex-flow: row wrap; 
    align-items: stretch;

  }
  
.column-left {
    flex: 30%;
    background-color:  #2090a2;
    min-height: 100vh;
    color: aliceblue;

  }
.column-left a {
    color: white;
}

.column-right {
    flex: 70%;

  }

.rok  {
    margin-top: 30px;
    margin-bottom: 0px;
    border-bottom: 2px solid #2090a2;
}

footer {
    text-align: right;
    color: white;
    font-size: 0.75em;
    background-color: #08505b;
    padding: 5px 20px;

}