body {
    color: #282425;	/*barva pisma*/
    background-color: aliceblue;
    font-family: arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    scroll-behavior: smooth;
}

header  {
    background-image:  url(foto/header3.jpg);
    padding: 3% 5% ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hlavicka {   /*portret a jmeno*/
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
   
  }

section {
    padding: 20px 4% 30px 4%;
    overflow: auto;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
}
  
a {
    color:#99989b;
}
  
h1 {                     
      font-size: 2.5rem;	
      text-align: center;
      color: aliceblue;
      text-shadow: 0 10px 30px rgba(0, 0, 0, 1);

}

h2  {
    font-size: 2rem;	
    color: #2090a2;
    margin-top: 2em;
}

h3  {
    margin: 20px 0px 10px 0px;
    border-bottom: 2px solid aliceblue;
}

h4  {
    margin: 20px 0px 0px 0px;
}

.slogan {
    font-family: caveat;
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
    margin: 0;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 1);
}
@font-face {
    font-family: caveat;
    src: url(Caveat-Regular.ttf);
 }

.portret2 {
    width: 150px;
    height: auto;


    border: 5px solid aliceblue;
    border-radius: 50%;
}

.about {
    padding: 50px 10%;
} 

.kontakt {
    font-size: 15px;
    padding: 20px 0px 20px 10%  ;

}

.row {
    display: flex;
    flex-flow: row nowrap;  /*zmeni se pro mensi display na wrap*/
    align-items: stretch;

  }
  
.column-left {
    flex: 30%;
    background-color:  #2090a2;
    min-height: 100vh;
    color: aliceblue;

  }

.column-right {
    flex: 70%;

  }